@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Zilla+Slab:wght@400;700&display=swap');
html {
	--color-white: rgb(255, 255, 255);
	--color-skyblue-400: rgb(135, 213, 241);
	--color-skyblue-500: rgb(14, 179, 239);

	--color-grey-100: rgb(223, 223, 223);
	--color-grey-300: rgb(178, 170, 170);
	--color-grey-400: rgb(135, 121, 121);
	--color-grey-500: rgb(88, 85, 85);
	--color-grey-700: rgb(123, 121, 121);

	font-family: 'Krub', sans-serif;
	margin: 0;
	line-height: 1.5;
	background-color: var(--color-grey-100);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card-container {
	width: 21.875rem;
	margin: 3.125rem auto;
	background-color: var(--color-white);
	box-shadow: 5px 5px 5px var(--color-grey-300);
	transition: background-color 0.5s ease-out;
}

.card-container:hover {
	transform: scale(1.05);
}

.card-container h1 {
	font-family: 'Zilla Slab', serif;
	line-height: 1.2;
	padding: 1.875rem 3.125rem 0 3.125rem;
	margin: 0.625rem 0;
}

.tryy svg {
	width: 10px;
}

.card-info {
	text-align: left;
	padding: 0 50px;
	margin: 0.625rem 0 1.875rem 0;
	color: var(--color-grey-700);
}

.card-price {
	background-color: var(--color-skyblue-400);
	text-align: center;
	padding: 0;
	font-size: 3rem;
	font-weight: bold;
}

.card-payment {
	text-align: center;
	color: var(--color-grey-400);
	padding: 10px 50px;
}

.course-values {
	padding: 10px 50px;
}

.course-values ul {
	list-style: none;
}

.course-values li {
	line-height: 2.4;
	color: var(--color-grey-500);
}

.course-values li img {
	width: 0.9375rem;
}

.btn-container {
	text-align: center;
	padding: 30px;
	margin: 0 0 1.25rem 0;
	transition: background-color 0.5s ease-out;
}

.btn-container a {
	font-weight: bold;
	color: var(--color-skyblue-500);
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid var(--color-grey-300);
	padding: 8px 90px;
}

.btn-container a:hover {
	color: var(--color-white);
	background-color: var(--color-skyblue-500);
	border-color: var(--color-skyblue-500);
}
